@charset "UTF-8";
* {
  padding: 2px;
}

body {
  background-color: #e9e9e9;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  width: 250px;
}

.dev-color {
  color: #3947d9;
}

.dev-community {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 3%;
  text-decoration: none;
  /* text-decoration: none; quita decoradoes a los li*/
}

.li a {
  text-decoration: none;
}

.socialMedia {
  display: inline;
}

.overflow {
  overflow: scroll;
  width: 150px;
  height: 300px;
}

ul {
  list-style-type: none;
}

.icon {
  width: 15px;
}

.header {
  background-color: white;
  border: 2px solid grey;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* botonesy barra de header */
#botonesaccess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  padding: 0 20px;
}

#botoncreateaccount {
  color: #4E57EF;
  border: 2px solid #4E57EF;
  border-radius: 5px;
  width: auto;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logodevto {
  width: auto;
  height: 90%;
  padding: 5px;
}

#botonlogin {
  color: grey;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar {
  border: 2px solid grey;
  border-radius: 5px;
  height: 90%;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

#lupa {
  background-color: transparent;
  height: 50%;
  width: auto;
  padding: 10px;
  margin-left: auto;
}

/* Aquí empieza el estilizado del footer */
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footsection {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.486);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fottxt {
  color: #4E57EF;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

main {
  width: 1000px;
}

.aside2 {
  width: 200px;
  height: auto;
  border-color: 2px solid #000;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#titartaside2 {
  color: black;
  font: bold;
  font-weight: 900;
  font-size: larger;
  margin: 5px 0px;
}

.artaside {
  width: auto;
  padding: 10px;
  border: 1px solid rgba(211, 211, 211, 0.322);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#imgaside2-1 {
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#imgaside2-1-1 {
  width: 100%;
}

#syp {
  background-color: #4E57EF;
  color: white;
  border: 1px solid #4E57EF;
  border-radius: 10px;
  margin: 10px;
  height: 5%;
}

#sap {
  background-color: lightgrey;
  color: #000;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
  height: 5%;
}

.p {
  border-radius: 0%;
}
/*# sourceMappingURL=styles.css.map */